/* generate passowrd color - #008350 */
/* background color - #00203A */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #00203A;
    color: white ;
}

.container {
    width: 700px;
     height: 400px;
    transform: translateY(30%);
    margin: 30px auto;
}

.container h3{
    font-size: 40px;
}

.container input{
    padding: 15px 15px;
    width: 400px; 
    font-size: 20px;
    border: 0 ;
    outline: 0;
    border-radius: 5px;

}

.main{
    width: 480px; 
    margin: 20px 10px ;
    position: relative;
}

#copyBtn{
    position: absolute;
    height: 90%;
    left: 358px;
    font-size: 20px ;
    padding: 5px 5px;
    border: 0 ;
    outline: 0;
    background-color:transparent ;
    color: black  ;
    border-radius: 5px;
    cursor: pointer;
}


#generateBtn{
    position: relative;
   
    background-color: #008350; 
    color: white ;
    border: 0 ;
    outline: 0 ;
    font-weight: bold ;
    font-size: 24px;
    padding: 20px 20px ;
    margin: 5px 5px ;
    border-radius: 5px ;
    cursor: pointer ;
}