@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    background-color: rgb(34, 34, 97);
    color: white;
}
::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.image-head-subhead {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.image-head-subhead h1 {
    margin-bottom: 2px;
}

/* Introduction  */

.introduction {
    margin: 0px 30px;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.early-life {
    margin: 0px 30px;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.career {
    margin: 0px 30px;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.presidency {
    margin: 0px 30px;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.death{
    margin: 0px 30px;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

